@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


body {
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    
    height: 100%;
}

.logo a {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

.navbar {
    display: flex;
    width: 100%;
    text-align: right;

}

.nav_menu {
    padding-top: 30px;


}

li,
a {
    display: flex;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    color: #312f2f;
    border: 2px solid transparent;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: -60px;
    justify-content: right;
}

p {
    letter-spacing: 2px;
    color: rgb(79, 79, 79);
    font-weight: 400;
    padding: 10px;
    margin-bottom: 0.5rem;
}

.name_ani_center {
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;

}

.head {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.Skills_set {
    /*display:flex;
    flex-direction: row;
    text-align: center;
    flex-wrap:wrap;
    justify-content: space-evenly;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin: 5px;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    justify-content: space-between;
}

.skill_notes {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 30PX;
    margin-left: 10px;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background-color: rgb(56, 56, 56);
}

.Contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;


}



.User_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input_area {
    width: 50%;
    margin-bottom: 15px;
}

.input_area input,
.input_area textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;

    /* Allow vertical resizing of textarea */
}
input::placeholder,textarea::placeholder{
    text-align: center;
}
.but {
    width: 100%;
    height: 200px; /* Set height for the .but div */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .amar {
    /*height: 10%; /* Set height for the .amar div */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    height: 40px;
    width: 30%;
    border-radius: 5px;
    
  }
  button:hover{
    background-color: red;
  }

  .footer_alg_icn {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:end;
}